# React
react/node_modules
react/src/aws-exports.js

# Vue
vue/node_modules
vue/src/aws-exports.js

# React Native
react-native/node_modules
react-native/aws-exports.js

.DS_Store

amplify

node_modules
.expo/*
aws-exports.js